<div class = "centerblock blogContent">
	<br><h2><%= @blog.name %></h2>

	<p><%= @blog.content %>

		<pre><code class = "language-css">
		<%= @blog.code %>
		</code></pre>

	<br><p><%= link_to "Edit blog", edit_blog_path(@blog), 
									:class=>"blogContentLink btn btn-blue btn-edit-delete aligncenter-edit-delete" %>
	<%= link_to "Delete blog", blog_path(@blog), method: :delete,
												 data: {confirm: "Are you sure to delete blog?"},
												 :class=>"blogContentLink btn btn-red btn-edit-delete aligncenter-edit-delete" %></p>

	<p><%= link_to "Back to blog list", blogs_path(), 
									:class => "blogContentLink btn btn-white btn-back aligncenter" %></p><br>
</div>