<!DOCTYPE html>
<html>
<head>
  <title>Trump's Website</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

<div id = "allContentCenter">
		<%= flash.notice %>
		<%= render partial: "layouts/headerNav" %> 
		<%= yield %>
		<%= render partial: "layouts/footer" %>
<div>

</body>
</html>
